@media (prefers-color-scheme: light) {
    :root {
      --background-50: #f5f2ef;
  
      --primary-100: #f2ead9;
      --primary-500: #bd9842;
  
      --secondary-600: #ae831e;
      --accent-200: #fbdf9d;
      --accent-600: #c48c08;
      --accent-950: #181101;
      
      --border:#fff9ec;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
  
      --background-50: #0f0d0a;
  
      --primary-100: #261e0d;
      --primary-500: #bd9842;
  
      --secondary-600: #e1b651;
  
      --accent-200: #624604;
      --accent-600: #f7bf3b;
      --accent-950: #fef7e7;
  
      --border:#f0e9da;
    }
  }
  
*{
    margin: 0;
    padding: 0;
    font-family:Tahoma, sans-serif;
    box-sizing: border-box;
}
.cont{
    width: 100%;
    height: 100vh;
    background: var(--background-50);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.player{
    background: var(--primary-100);
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.circle svg{
    width: 30px;
    fill: var(--accent-600);
}
nav .circle{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 40px;
    background: var(--border);
    box-shadow: var(--accent-950);
}
.c1{
    padding-top: 2px;
}
.c2{
    padding-top: 8px;
}
.songthumb{
    width: 220px;
    border: 8px solid var(--border);
    border-radius: 50%;
    box-shadow: var(--accent-600);
    margin-bottom: 20px;
}
.player h1{
    font-size: 20px;
    font-weight: 700;
    color: var(--secondary-600);
}
.player p{
    font-size: 14px;
    color: var(--primary-500);
    font-weight: lighter;
}
#bar{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: var(--accent-600);
    border-radius: 4px;
    cursor: pointer;
    margin: 4px 0px;
}
#bar::-webkit-slider-thumb{
    -webkit-appearance:none;
    background: var(--accent-600);
    width: 15px;
    height: 25px;
    border: 3px solid var(--border);
    border-radius: 20px;
    box-shadow: 0 5px 5px var(--accent-200);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--accent-600);

}
.controls div{
    width: 60px;
    height: 60px;
    margin: 20px;
    background: #ffffff00;
    display: inline-flex;
    align-items: center;
    justify-self: center;
    cursor: pointer;
}
.controls div:nth-child(2){
    transform: scale(1.1);
}
.controls div:nth-child(3){
    transform: scale(1.25);
    display: none;
}
